---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    {{- include "jitsi-meet-helm.labels" . | nindent 4 }}
  namespace: {{ .Release.Namespace }}
  name: traefik-ingress-controller

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  labels:
    {{- include "jitsi-meet-helm.labels" . | nindent 4 }}
  name: jitsi-tls
  namespace: {{ .Release.Namespace }}

spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`jitsi.aletro.k8s.gomeetup.site`)
      kind: Rule
      services:
        - name: web
          namespace: {{ .Release.Namespace }}
          port: 80
  tls:
    certResolver: default
