---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: jvb
  name: jvb-udp
  namespace: {{ .Release.Namespace }}

spec:
  type: NodePort
  externalTrafficPolicy: Cluster
  ports:
    - port: 30300
      protocol: UDP
      targetPort: 30300
      nodePort: 30300
  selector:
    k8s-app: jitsi

---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: web
  name: web
  namespace: {{ .Release.Namespace }}

spec:
  ports:
    - name: "http"
      port: 80
      targetPort: 80
    - name: "https"
      port: 443
      targetPort: 443
    - name: "metrics"
      port: 8080
      targetPort: 8080
  selector:
    k8s-app: jitsi
